#HELP_FORM{
    background-color: var(--colorWhite);
    box-shadow: var(--shadow);
    border-radius: var(--border);
    width: 20%;
    padding: 2em 0;
    position: fixed;
    right: 5%;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
#HELP_CONTAINER{
    background-color: var(--colorWhite);
    box-shadow: var(--shadow);
    border-radius: var(--border);
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 13%;
    right: 30%;
    padding: 2em;
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }
h3{
  padding: 1em 0;
}
.responses{
  padding: 10px 2em;
  margin-left: 2em;
}
.respuesta{
  padding: 0 0.5em;
  font-size: 14px;
  color: var(--font1);
}
.response_input{
  width: 200px;
  padding: 5px;
  margin: 0 5px;
  border: 2px solid #d1d1d1;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
}
.response_input:focus{
  border-color: #b22222;
  outline: none;
}
.response_button{
  background-color: var(--colorRicoh);
  padding: 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.response_image{
  width: 15px;
}